.stat-cont {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        padding-top: 30px;
    color: white;
    /* position: relative; */
    font-family: 'Lato', sans-serif;
}
.stat {
    width: 86%;
    background:linear-gradient(323.84deg, #2F80ED 35.13%, rgba(56, 145, 238, 0.781617) 
    68.66%, rgba(58, 149, 238, 0.722893) 95.2%, rgba(86, 204, 242, 0) 146.89%);
    -webkit-box-shadow:  0px 1.2px 3.6px rgba(0, 0, 0, 0.02), 0px 6.4px 14.4px rgba(0, 0, 0, 0.02);
            box-shadow:  0px 1.2px 3.6px rgba(0, 0, 0, 0.02), 0px 6.4px 14.4px rgba(0, 0, 0, 0.02);
    border-radius: 2px;
}
.stat h4 {
    padding-left: 60px;
}
.stat-cont .ht {
    margin-top: -60px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:space-around;
    -webkit-box-align:baseline;
        -ms-flex-align:baseline;
            align-items:baseline;
    font-size:26px;
    padding-left: 60px;
    padding-right: 60px;
}
.htt {
    /* width: 100%; */
    margin-top: 30px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:space-around;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size:26px;
    font-family: 'Lato', sans-serif;
    padding: 30px 60px;
}


@media (max-width:700px){
    .stat {
        width: 94%;
    }
    .httt {
        width: 100%;
        text-align: center;
        margin: 0px auto;
    }
}