.stat-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: white;
    position: relative;
    font-family: 'Lato', sans-serif;
}
.stat {
    width: 75%;
    background:linear-gradient(323.84deg, #2F80ED 35.13%, rgba(56, 145, 238, 0.781617) 
    68.66%, rgba(58, 149, 238, 0.722893) 95.2%, rgba(86, 204, 242, 0) 146.89%);
    box-shadow: 0px 1.2px 3.6px rgba(0, 0, 0, 0.05), 0px 6.4px 14.4px rgba(0, 0, 0, 0.052);
    padding: 30px 60px;
}
.stat-cont .ht {
    margin-top: -60px;
    display:flex;
    justify-content:center;
    align-items:baseline;
    font-size:26px;
}
.htt {
    width: 100%;
    margin-top: 30px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    font-size:26px;
    font-family: 'Lato', sans-serif;
}
.httt {

}

@media (max-width:700px){
    .stat {
        width: 70%;
    }
    .httt {
        width: 100%;
        text-align: center;
        margin: 0px auto;
    }
}