.navi {
    width: 100%;
    height: 120px;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.navi .span div {
    margin-right: 40px;
    color: white;
    font-family: 'Lato', sans-serif;
}
.span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 2;
}
.ham {
    cursor: pointer;
}
.av i {
    display: none;
    font-size: 26px;
    color: white;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}
.rr {
    font-size: 0.8rem;
}

@media
(max-width:800px){
    .navi .span{
        width: 100%;
        display: block;
        position: fixed;
        top: 100px;
        background:linear-gradient(239.34deg, rgba(47, 128, 237, 0.56) 
        -46.42%, rgba(58, 149, 238, 0.98) -16.75%, rgba(16, 104, 222, 0.68) -2.93%, #1068DE 95.93%);;
        height:100vh;
        /* line-height: 70px; */
        top: -130%;
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
    }
    .span div {
        text-align: center;
        margin:30px auto;
    }
    .navi {
        width: 100%;
        height: 100px;
    }
    .av i {
        display: block;
        -webkit-transition: 1s ease-in-out;
        transition: 1s ease-in-out
    }
    .av {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: absolute;
        -webkit-transition: 1s ease-in-out;
        transition: 1s ease-in-out
    }
    .navi .span div {
        margin-right: 0px;
    }
}