.con {
    padding: 15px 50px;
    background: #2F80ED;
    font-family: 'Lato', sans-serif;
    color: white;
    border: none;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 2px;
    transition: 0.3s ease-in-out;
}

.con:active {
    background: rgba(245, 245, 245, 0.582);
}