.loginwrapp {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.blue {
    width: 45%;
    height: 100vh;
    background: url("../img/Login.jpg");
    background-size: cover;
    display: block;
}
.white {
    width: 55%;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}   
.logtext {
    /* padding: 0px 60px; */
    position: relative;
    width: 80%;
}
.logtext h1 {
    color: #2F80ED;
    font-size: 50px;
    font-weight: 800;
}
.logtext span {
    position: absolute;
    margin-top: -30px;
}
form {
    margin-top: 50px;
}
.name {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.name input {
    padding: 14px;
    background: white;
    border: 1px solid #C4C4C4;
    border-radius: 2px;
    -ms-flex-wrap:wrap ;
        flex-wrap:wrap ;
}
.no {
    width: 350px;
}
.nv {
    width:165px
}
.name input::-webkit-input-placeholder {
    color: #C4C4C4;
    font-family: 'Lato', sans-serif;
}
.name input:-ms-input-placeholder {
    color: #C4C4C4;
    font-family: 'Lato', sans-serif;
}
.name input::-ms-input-placeholder {
    color: #C4C4C4;
    font-family: 'Lato', sans-serif;
}
.name input::placeholder {
    color: #C4C4C4;
    font-family: 'Lato', sans-serif;
}
.na {
    padding: 14px;
    background: white;
    border: 1px solid #C4C4C4;
    border-radius: 2px;
    margin-top: 15px;
    width: 95%;
}
.na::-webkit-input-placeholder {
    color: #C4C4C4;
    font-family: 'Lato', sans-serif;
}
.na:-ms-input-placeholder {
    color: #C4C4C4;
    font-family: 'Lato', sans-serif;
}
.na::-ms-input-placeholder {
    color: #C4C4C4;
    font-family: 'Lato', sans-serif;
}
.na::placeholder {
    color: #C4C4C4;
    font-family: 'Lato', sans-serif;
}
.bt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.bt div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}


.foot {
    margin-top: 50px;
    color:#C4C4C4 ;
    font-size: 16px;
}
pan {
    color:#2F80ED;
    cursor: pointer;
}

.log {
    padding:20px 80px;
}
.tec {
    width: 50%;
    color: white;
    font-family: 'Lato', sans-serif;
    padding:60px 80px;
    font-weight: bolder;
    font-size: 20px;
}

@media (max-width:1000px) {
    .loginwrapp {
        background: white;
    }
    .blue {
        display: none;
    }
    .name {
        display:block;
    }
    .name input {
        margin-top: 20px;
    }
    .logtext {
        width:100%;
    }
    .no,.nv,.na {
        width: 100%;
    }
    .bt div {
        -webkit-box-flex: 0.6;
            -ms-flex: 0.6;
                flex: 0.6;
    }
    .v {
        text-align: center;
    }
    .logtext span {
        width: 100%;
        margin:-30px auto;
    }
}