.schedule {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ffffff;
    height: 100vh;
}
.schedule-form {
    padding: 2rem;
}
.scheduleForm-pickDetails{
    margin-bottom: 1.5rem;
}
.scheduleForm-pickUp {
    width: 82%;
    margin: 1rem;
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.scheduleForm-timeDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1.5rem;
}

.scheduleForm-time,
.scheduleForm-date{
    background-color: white;
    text-align: center;
    padding: 10px 5px;
}
.scheduleForm-time{
    width: 55%;
    margin-left: 30px;
}
.scheduleForm-date{
    width: 70%;
}
/* 
#timepicker:before {
    content:'Pick up Time:';
    margin-right:.6em;
    color:#9d9d9d;
} */

.schedule-goodsDesc{
    margin: 1.7rem;
}
.label-upload {
    cursor: pointer;
    border: 2px solid #CCCCCC;
    display: inline-flex;
    padding: 50px;
    max-width: 75px;
    max-height: 45px;
 }
 
 #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

 .schedule-goodsDesc__1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1.5rem;
}

 .schedule-goodsDesc__1-details > select,
 .schedule-goodsDesc__1-details > input {
    display: block;
    background-color: white;
    text-align: center;
    padding: 10px 5px;
    margin-bottom: 2rem
 }
 .schedule-goodsDesc__1-details > select {
    width: 85%;
 }
 .schedule-goodsDesc__1-details > input {
    width: 80%;
   
 }
 .schedule-goodType,
 .schedule-describe {
    width: 92%;
    margin-bottom: 2rem;
    height: 45px;
    background-color: #fff;   
 }
 .schedule-describe {
    height: 55px;  
 }
.schedule-btn{
    display: flex;
 justify-content: flex-end;
 margin-right: 2rem;
}
 
/* Receivers Info */
.receivers {
    padding: 2rem;
}
.receivers-info {
    text-align: center;
}
.receivers input{
    display: block;
    background-color: white;
    padding: 10px 5px;
    height: 25px;
    width: 88%;
    margin-bottom: 2rem;
}
.receivers-delivery{
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
    width: 90%;
}
.receivers-delivery div:first-child{
    margin-right: 25%;
}
.receivers-delivery div:last-child{
    background: #2F80ED;
    padding: 15px 25px;
}
.payCheckout {
    display: flex;
    margin: 2rem 0;
    align-items: center;
    
}
.payCheckout button {
    margin-right: 5%;
    background: white;
}
.payCheckout-cash,
.payCheckout-wallet{
    cursor: pointer;
}
.payCheckout-wallet{
    border: none;
}
.payCheckout-cash {
    padding: 1px 20px;
    border: 1px solid #C4C4C4;
}
.submit-btn {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.submit-btn-pay,
.submit-btn-back {
    padding: 15px 25px;
    font-family: 'Lato', sans-serif;
    color: white;
    border: none;
    margin-top: 20px;
    font-size: 15px;

    border-radius: 2px;
    transition: 0.3s ease-in-out;
}
.submit-btn-pay{
    background: #2F80ED;
}
.submit-btn-back {
    background: #E1DFDD;
    color: #9F9D9D;
}