.del-cont{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}

.deli-cont {
    margin-top: 30px;
    background: white;
    width: 80%;
}


.delivery-nav-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* width: 100%; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* background: white; */
}
 
.delivery-nav-cont table {
    width: 90%;
    text-align:center;
    /* table-layout:fixed; */
    margin: 0px auto;
    color: #828282;;
}

.delivery-nav-cont th {
    text-transform: uppercase;
}

.delivery-nav-cont .del-tr:hover {
    background: rgba(255, 255, 255, 0.849);
}

.delivery-nav-cont table,td {
	border-bottom:0.1px solid #82828241;
	padding:25px 0px;
	text-align:center;
	border-collapse:collapse;
	font-family:Arial;
	font-size:14px;
}

.del-tr {
    background: white;
}


.delivery-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0px 20px;
}
.del-lik {
    font-size: 13px;
    font-weight: 600;
    padding: 0px 20px;
    color: #C4C4C4;
    cursor: pointer; 
}
.del-active {
    font-size: 13px;
    font-weight: 600;
    padding: 0px 20px;
    color: #C4C4C4;
    /* border-bottom: 2px solid #2F80ED; */
    color: #4F4F4F;
}
.del-active::after {
    content:'';
    display: block;
    width: 50px;
    height: 2px;
    background:#2F80ED;
    margin-top:20px

}
.delivery-input {
    padding: 0px 10px;
}
.delivery-input::placeholder {
    text-align: center;
}